body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  
  header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  /* Product cards */
  .card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .card img {
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
  }
  .card-img-top {
    max-height: 200px;
    max-width: 100%;
    object-fit: contain; /* Resizes the image to fit within the dimensions while maintaining its aspect ratio */
  }
  

  /* Navbar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  
  